body {
  box-sizing: border-box;
}

section {
  padding: 0 10px;
}

.banner {
  width: 100%;
  background-image: url("/img/banner.jpg");
  height: 305px;
  background-color: #82c15e;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

.btn-green{
  background-color: #dafdc6;
}


.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  
}

.container .card {
  background-color: #aaff79;
  width: 330px;
  height: 430px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  box-shadow: 3px 3px 3px 3px black;

}

.container .card img {
  width: 330px;
  height: 200px;
}

.date {
  font-size: 13px;
  position: static;
  float: right;
}

.descripcion {
  font-size: 20px;
  padding: 40px;
}

footer{
  padding: 50px;
}

.quinesSomos{
  padding-top: 20px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.title {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  color: black;
  margin-top: 10px;
  font-weight: 400;
}

.title-publicaciones {
  padding: 30px 10px 10px 10px;
  font-size: 30px;
}

.topnav {
  display: flex;
  justify-content: center;
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #f9fade;
  color: black;
}
.topnav a.active {
  background-color: #82c15e;
  color: rgb(0, 0, 0);
}


@media (max-width: 800px) {
  .banner h1 {
    font-size: 50px;
  }
  .descripcion {
    font-size: 15px;
  }
  .title {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
}
