
em{
    font-size: 13px;
    position: relative;
    float: right;
}
div{
    padding: 0px 15px;
}
h1{
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}
.banner{
    height: 205px;
}
#descripcion{
    padding-bottom: 50px;
    text-align: center;
    font-style: italic;
    
}
#fecha{
    padding-top: 10px;
    position: relative;
    float: right;
}
#next{
    position: fixed;
    right: 0;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: #56833c;
}
#publicacion{
    padding: 10px 50px;
}
@media (max-width: 1000px)  {
    #publicacion{
        padding: 10px 10px;
    }
    img{
        width: 500px;
    }
    
}
@media (max-width: 600px)  {
    img{
        width: 300px;
    }
}
