
em{
    font-size: 13px;
    position: relative;
    float: right;
}
div{
    padding: 0px 15px;
}
h1{
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}
#publicacion{
    padding: 10px 50px;
}
#descripcion{
    padding-bottom: 50px;
    text-align: center;
    font-style: italic;
    
}
#fecha{
    padding-top: 10px;
    position: relative;
    float: right;
}

@media (max-width: 600px)  {
    img{width: 50%;}
}